include ../logo/logo.pug
include ../button/button.pug
-
  let enMenu = ['Home', 'About Us', 'Services', 'expand_more', 'Careers', 'News', 'Documentation',];
  let ruMenu = ['О нас', 'Услуги', 'expand_more', 'Вакансии', 'Новости', 'Соглашения', 'expand_more',];

mixin header(options)
  - 
    let isRu = (options.lang == 'ru');
    let isEn = (options.lang == 'en');
    let buttons = {};
    let registerButtonText = '';
    registerButtonText += isRu ? 'Зарегистрироваться' : '';
    registerButtonText += isEn ? 'Register' : '';
    let loginButtonText = '';
    loginButtonText += isRu ? 'Войти' : '';
    loginButtonText += isEn ? 'Login' : '';
    let registerButtonRu = isRu ? 'true' : 'false';

  .header
    .header__content
      nav.header__nav
        .header__logo

          +logo({type: 'default'})
        
        
        //-
          if isRu
            each val in ruMenu
              .header__nav-item
                a.header__link(href='/mock-adress')= val
          else if isEn
            each val in enMenu
              .header__nav-item
                a.header__link(href='/mock-adress')= val
        - let i = 0;
          while (i < enMenu.length) 
            if enMenu[i+1] == 'expand_more'
              .header__item
                a.header__link(href='/mock-adress')= enMenu[i]
                .material-icons.header__icon expand_more
            else if enMenu[i] == 'expand_more'
            else
              .header__item
                a.header__link(href='/mock-adress')= enMenu[i]
            - i++;
            
            //-
              if (enMenu[i+1] == 'expand_more') {
                .header__item
                  a.header__link(href='/mock-adress')= enMenu[i]
              } else if (enMenu[i] =='expand_more') {
                continue
              }
              i++;
            
          
            
            
          

        
        .header__item.header__buttons
          .header__login-button
            +button({
              text: loginButtonText, 
              isRegister: 'false',
              isRegisterRus: 'false',
              isWithArrow: 'false',
              transparent: 'true',
              isNoBorder: 'false',
              isSmall: 'true',
            })
        .header__item.header__buttons
          .header__register-button
            +button({
              text: registerButtonText, 
              isRegister: 'true',
              isRegisterRus: registerButtonRu,
              isWithArrow: 'false',
              transparent: 'false',
              isNoBorder: 'false',
              isSmall: 'false',
            })

        .header__toggle
          a.header__link(href='/mock-adress')
            i.material-icons.header__burger dehaze