include ../logo/logo.pug
include ../button/button.pug
-
  let enMenu = ['Home', 'About Us', 'Services', 'expand_more', 'Careers', 'News', 'Documentation',];
  let ruMenu = ['О нас', 'Услуги', 'expand_more', 'Вакансии', 'Новости', 'Соглашения', 'expand_more',];

mixin header(options)
  - 
    let isRu = (options.lang == 'ru');
    let isEn = (options.lang == 'en');
    let buttons = {};
    let type = options.type;
    
    let registerButtonText = '';
    registerButtonText += isRu ? 'Зарегистрироваться' : '';
    registerButtonText += isEn ? 'Register' : '';
    
    let loginButtonText = '';
    loginButtonText += isRu ? 'Войти' : '';
    loginButtonText += isEn ? 'Login' : '';
    let registerButtonRu = isRu ? 'true' : 'false';

  .header
    .header__content
      nav.header__nav
        .header__logo
          +logo({type: 'default'})
        - let i = 0;
        if isRu
          while (i < ruMenu.length) 
            if ruMenu[i+1] == 'expand_more'
              .header__item.header__item_ru
                a.header__link(href='/mock-adress')= ruMenu[i]
                .material-icons.header__icon expand_more
            else if ruMenu[i] == 'expand_more'
            else
              .header__item.header__item_ru
                a.header__link(href='/mock-adress')= ruMenu[i]
            - i++;
        
        else if isEn
          - i = 0;
          while (i < enMenu.length) 
              if enMenu[i+1] == 'expand_more'
                .header__item
                  a.header__link(href='/mock-adress')= enMenu[i]
                  .material-icons.header__icon expand_more
              else if enMenu[i] == 'expand_more'
              else
                .header__item
                  a.header__link(href='/mock-adress')= enMenu[i]
              - i++;

        if type == 'anon'  
          .header__item.header__buttons
            .header__login-button
              if isRu
                +button({
                  text: loginButtonText, 
                  isRegister: 'false',
                  isRegisterRus: 'false',
                  isLoginRus: 'true',
                  isWithArrow: 'false',
                  transparent: 'true',
                  isNoBorder: 'false',
                  isSmall: 'true',
                })
              else if isEn
                +button({
                  text: loginButtonText, 
                  isRegister: 'false',
                  isRegisterRus: 'false',
                  isWithArrow: 'false',
                  transparent: 'true',
                  isNoBorder: 'false',
                  isSmall: 'true',
                })

            
          .header__item.header__buttons
            .header__register-button
              +button({
                text: registerButtonText, 
                isRegister: 'true',
                isRegisterRus: registerButtonRu,
                isWithArrow: 'false',
                transparent: 'false',
                isNoBorder: 'false',
                isSmall: 'false',
              })
        else if type == 'user'
          .header__item.header__separator
          .header__item.header__user
            p.header__user-name= options.userName


        .header__toggle
            i.material-icons.header__burger dehaze